@import "tailwindcss";

@theme {
  --color-primary: #2a9d8f;
  --color-secondary: #e9c46a;
  --color-point: #f4a261;
  
  --color-bg-base: var(--bg-base);
  --color-bg-alt: var(--bg-alt);
  --color-text-main: var(--text-main);
  --color-text-sub: var(--text-sub);
  --color-border-base: var(--border-base);
  --color-error: #e76f51;
  --color-success: #2ecc71;

  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --bg-base: #ffffff;
  --bg-alt: #f8f9fa;
  --text-main: #212529;
  --text-sub: #6c757d;
  --border-base: #f1f3f5;

  --background: var(--bg-base);
  --foreground: var(--text-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-base: #121212;
    --bg-alt: #1e1e1e;
    --text-main: #f8f9fa;
    --text-sub: #adb5bd;
    --border-base: #2c2c2c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Typography Utility */
@layer base {
  h1 { @apply text-2xl font-bold; }
  h2 { @apply text-lg font-semibold; }
  p { @apply text-base font-normal; }
  span.caption { @apply text-xs font-normal; }
}
